In [1]:
import pandas as pd
data=pd.read_csv('apple_stock_data.csv')

In [2]:
data.head()

         Date  Close/Last     Volume      Open      High       Low
0  02/28/2020     $273.36  106721200   $257.26   $278.41   $256.37
1  02/27/2020     $273.52   80151380    $281.1      $286   $272.96
2  02/26/2020     $292.65   49678430   $286.53   $297.88    $286.5
3  02/25/2020     $288.08   57668360   $300.95   $302.53   $286.13
4  02/24/2020     $298.18   55548830   $297.26   $304.18   $289.23

In [3]:
## convert date column to datetime using pandas and set as index
data['Date']=pd.to_datetime(data['Date'])
data.set_index('Date',inplace=True)

In [4]:
data.head()

           Close/Last     Volume      Open      High       Low
Date
2020-02-28    $273.36  106721200   $257.26   $278.41   $256.37
2020-02-27    $273.52   80151380    $281.1      $286   $272.96
2020-02-26    $292.65   49678430   $286.53   $297.88    $286.5
2020-02-25    $288.08   57668360   $300.95   $302.53   $286.13
2020-02-24    $298.18   55548830   $297.26   $304.18   $289.23

In [9]:
## select the close column and set it as a dataframe,
## using double brackets ensures it returns a dataframe
print(data.columns)

data.columns=data.columns.str.strip()
data=data[['Close/Last']]

Index([' Close/Last', ' Volume', ' Open', ' High', ' Low'], dtype='object')

In [10]:
data.head()

           Close/Last
Date
2020-02-28    $273.36
2020-02-27    $273.52
2020-02-26    $292.65
2020-02-25    $288.08
2020-02-24    $298.18

In [12]:
### we will be using lstm and linear regression models
### lstms ability can model comples time dependant patterns
### while linear regression can identify and follow broader trends

In [ ]:
#using minmaxscaler , to scale between 0 and 1